body {
    --dark: #3C3C3B;
    --light: #EBEBD3;
    --bg: #1446A0;
    --bg-dark: #143677;
    --bright: #F5D547;
    --alt: #DB3069;
    --confirm: #35af59;
    --confirmDark: #32914e;
    background-color: var(--bg);
    font-family: 'Poppins';
    padding: 0;
    margin: 0;
}

#answer {
    font-size: 16rem;
    font-weight: bold;
}

.smallText {
    font-size: 3rem;
}

#page {
    width: 100vw;
    height: 100vh;
    color: var(--light);
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#center {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#answer::after {
    content: "*"
}

a {
    text-decoration: none;
    color: var(--light);
}

#disclaimer {
    background-color: var(--alt);
    padding: 0 1rem 0 1rem;
    margin: 2rem;
    box-shadow: 0 0 0.5rem 0.5rem var(--bg-dark);
    border-radius: 1rem;
    background-image: linear-gradient(to right, var(--confirmDark), var(--confirm));
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 100%;
    transition: background-size .5s, color .5s;
}

#disclaimer:hover {
    background-size: 100% 100%;
}

.clickable {
    cursor: pointer;
}

#footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 5%;
    background-color: var(--bright);
    color: var(--dark);
}